<div class="document-viewer-container">
  <div class="toolbar">
    @if (document(); as document) {
      <h1>{{ document.name }}</h1>
    }
    <div class="controls">
      <button (click)="decreaseZoom()" class="zoom-button">-</button>
      <span class="zoom-level">{{ zoomLevel() | percent }}</span>
      <button (click)="increaseZoom()" class="zoom-button">+</button>
      <button (click)="saveDocument()" class="save-button">Save</button>
    </div>

    @if(editing()) {
        <textarea class="text-area" #textEditor [value]="editingAnnotation()?.text || ''"></textarea>
    }
  </div>

  @if (pages()) {
    <div class="document-content"
         [style.zoom]="zoomLevel()">
      @for (page of pages(); track page) {
        <div class="page-container">
          <div class="page"
               (mousedown)="startDrawing($event, page)"
               (mousemove)="onDrawing($event)"
               (mouseup)="endDrawing()">

            <div class="page-overlay"></div>

            <img [src]="page.src"/>

            @for (rect of annotations() | annotationsForPage:page.id; track rect) {
              <div class="annotation"
                   [ngClass]="drawing() || dragging() ? 'annotation--dragging' : ''"
                   [ngStyle]="{
                     top: rect.top + 'px',
                     left: rect.left + 'px',
                     width: rect.width + 'px',
                     height: rect.height + 'px'
                   }"
                   (mousedown)="startDragging($event, rect)"
                   (click)="startEditing(rect)">
                {{rect.text}}

                <button class="delete-btn"
                        (click)="removeAnnotation(rect, $event)">
                  ✕
                </button>
              </div>
            }
          </div>
        </div>
      }
    </div>
  }
</div>
